html {
  font-size: 8px;
  font-family: "Raleway", sans-serif;
  color: #242F4F;
}


/*Header and Navbar*/

.header-navbar {
  display: flex;
  font-size: 3rem;
  height: 8rem;
  justify-content: space-between;
  align-items: center;
  background-color: #DBE0E2;
}

header {
  display: flex;
  align-items: center;
  margin-left: 3rem;
  color: #242F4F;
  font-weight: 900;
  font-size: 4rem;
}

header img {
  height: 8rem;
  width: 6rem;
}

nav ul {
    display: flex;
}

li {
  padding: 0rem 2rem;
}

a {
  text-decoration: none;
  color: #242F4F;
}

/*main-banner*/
.jumbotron {
  width: 100%;
  display: flex;
  background-color: #EFE7E8;
}

.main-banner {
  width: 60%;
  display: flex;
  align-items: center;

}

.main-banner img {
  margin: 4rem 5rem 4rem 3rem;
  width: 100%;
}

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.banner-text h1 {
  font-size: 7rem;
  color: #242F4F;
  width: 90%;
}

.banner-text h3 {
  font-size: 4rem;
  margin: 4rem 0;
  color: #242F4F;
  width: 90%;
}

#button {
  font-size: 3rem;
  background-color: #93A8AC;
  padding: 1rem;
  transition: background-color 750ms linear 0s;
  width: 90%;
  text-align: center;
}

#button a {
  color: #242F4F;
}

#button:hover {
  background-color: #396672;
}


.image {
  width: 90%;
}

/*main section*/
.flex-container {
  display: flex;
}

.main-feature {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.main-feature img {
  margin-left: 3rem;
  margin-top: 4rem;
  width: 100%
}

.main-feature h1 {
  margin: 4rem 0 3rem 3rem;
  font-size: 6rem;
  color: #242F4F;
}

.main-feature h5 {
  margin-left: 3rem;
  margin-bottom: 3rem;
  font-size: 2.5rem;
  font-family:
}

.main-feature p {
  margin-left: 3rem;
  font-size: 2rem;
  font-family:
}

/*Information Section*/
.flex-container-info {
  width: 423px;
  color: #242f4f;
}

.orientation, .campus, .lecture {
  display: flex;
  align-items: center;
  margin-top: 4rem;
  border: 1px solid #EFE7E8;
  padding-left: 2rem;
  margin-left: 3rem;
}

.orientation img, .campus img, .lecture img {
  width: 35%;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.campus, .lecture {
  margin-top: 0;
  border-top: none;
}


#info h2 {
  font-size: 3rem;
  margin-left: 3rem;
}

#info h3, #info a {
  font-size: 2rem;
  margin-left: 3rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

#info a:hover {
  color: #396672;
  font-weight: bold;
}

.lecture {
  background-color: #EFE7E8;
}

/*start learning*/

.start-learning {
  margin-top: 5rem;
  background-color: #EFE7E8;
  padding-bottom: 4rem;
}

.start-learning h1 {
  text-align: center;
  font-size: 6rem;
  color: #242F4F;
  margin-bottom: 4rem;
  padding-top: 4rem;
}

.classes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  background-color: white;
  margin: 1rem 2rem;
  width: 25%;
}

.item img {
  max-width: 100%;
}

.item h3 {
  font-size: 4rem;
  margin: 2rem;
}

.item p {
  font-size: 2rem;
  margin: 3rem 2rem;
}

/*thesis exhibit*/

.thesis h1 {
  text-align: center;
  font-size: 6rem;
  color: #242F4F;
  margin-bottom: 4rem;
  padding-top: 4rem;
}

.thesis-content {
  display: flex;
}

.video {
  width: 60%;
  margin-left: 3rem;
}

.video video {
  margin-bottom: 3rem;
}

.video h3, .video h6 {
  margin-bottom: 3rem;
}

.video h3, .fisma h3, .now-and-then h3 {
  font-size: 4rem;
}

.video h6, .fisma p, .now-and-then p{
  font-size: 2rem;
}

.fisma, .now-and-then {
  display: flex;
  align-items: center;

  margin-left: 2rem;
}

.fisma {
  border: 1px solid #EFE7E8;
  background-color: #EFE7E8;

}

.fisma img, .now-and-then img{
  padding: 2rem;
  width: 35%;
}

#thesis-info h3 {
  margin-bottom: 2rem;
}

/*Footer*/
footer {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  background-color: #DBE0E2;
  height: 8rem;
}

footer h6 {
  margin-left: 3rem;
  margin-top: 2rem;
}

footer nav {
  margin-top: 2rem;
}


.flex-containter-info {
    width: 40%;
}
